.container{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.header{
    /* border: 2px solid goldenrod; */
    /* width:16%; */
    height:60px;
}

.section{
    display: flex;
    flex-direction: row;
    height:100%;
}

.left{
    width:16%;
    height: 100%;
    /* border: 2px dashed red */
}
.right{
    width:80%;
    height:100%;
    /* border: 2px dashed red; */
}